build/eclipse/.settings/.jsdtscope
build/eclipse/.settings/org.eclipse.core.resources.prefs
build/eclipse/.settings/org.eclipse.wst.jsdt.ui.superType.container
build/eclipse/.settings/org.eclipse.wst.jsdt.ui.superType.name
build/vc2008/NaturalEditor.suo
build/vc2010/NaturalEditor.suo
release/naturaleditor.js
Web.config