.classic .nte_toolbar
{
	height: 24px;
}

.classic .nte_toolbar_button
{
	display:block;
	border:1px solid #F0F0EE;
	width:20px;
	height:20px;
}

.classic .nte_toolbar_button_enabled:hover
{
	border:1px solid #0A246A;
	background-color:#B2BBD0;
}

.classic .nte_toolbar_button_disabled
{
	opacity:0.3;
	-ms-filter:'alpha(opacity=30)';
	filter:alpha(opacity=30);
}

.classic .nte_toolbar_button_pressed
{
	border:1px solid #0A246A;
	background-color:#C2CBE0;
}

span.nte_toolbar_icon
{
	border:1px solid #FFFFFF;
	display:block;
	width:20px;
	height:20px;
}

.classic .nte_toolbar_icon
{
	background:url(icons.gif) no-repeat 20px 20px;
}

.classic span.nte_bold
{
	background-position: 0 0;
}

.classic span.nte_italic
{
	background-position: -60px 0;
}

.classic span.nte_underline
{
	background-position: -140px 0;
}

.classic span.nte_undo
{
	background-position: -160px 0;
}

.classic span.nte_redo
{
	background-position: -100px 0;
}
